<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calendario Semanal por Horas</title>
    <link rel="stylesheet" href="../static/calendario.css">
    <link rel="stylesheet" type="text/css" href="../static/global.css">
</head>
<body>

    <h2 class="FadeIn">Calendario Semanal -- Bloques por Hora</h2>
    <div class="calendar FadeUp" id="calendar">
        <!-- Contenido generado por JS -->
    </div>

    <script src="../static/calendary.js"></script>
</body>
</html>

