<html>
    <head>
        <title>Catalogo</title>
        <link rel="stylesheet" type="text/css" href="../static/catalogo.css">
        <link rel="stylesheet" type="text/css" href="../static/global.css">
    </head>

    <!--Barra de navegacion-->
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a style = "color: #69B5B0;" href="catalogo.html">Servicios</a></li>
                <li><a href="ruta de tiendas">Tiendas</a></li>
                <li><a href="login.html">Iniciar sesion</a></li>
            </ul>
        </nav>
    </header>

    <body>
        <div class="container">
            <h1 class = "FadeLeft">SERVICIOS</h1>
            <div class="lista-servicios">
                {% for servicio in servicios %}
                    <div class="servicio FadeUp">
                        <div class="servicio-titulo">
                            <div>
                                <h2>{{ servicio['titulo'] }}</h2>
                                <p><b>Autor:</b> {{ servicio['autor'] }}
                                {% if servicio['categoria'] %}<br><b>Categoria:</b> {{ servicio['categoria'] }}{% endif %}</p>
                            </div>
                            {% if servicio['imagen'] %}
                            <img src="{{ servicio['imagen'] }}" alt="Imagen del servicio">
                            {% else %}
                            <img src="https://t3.ftcdn.net/jpg/15/97/33/72/360_F_1597337267_YnjNgC3DRENuEQ0TbRdmeyIR38C8wcxx.jpg" alt="Imagen del servicio">
                            {% endif %}
                        </div>
                        <p>{{ servicio['descripcion'] }}</p>
                        <p><b>Precio:</b> {{ servicio['precio'] }} $ | 
                            {% if servicio['duracion'] %}<b>Duración:</b> {{ servicio['duracion'] }} | {% endif %}
                            <b>A domicilio:</b> {{ servicio['a_domicilio'] }}
                        </p>
                        <a class="boton-principal" href="/servicio/{{ servicio['id'] }}">Entrar</a>
                    </div>
                {% endfor %}
                {% if usuario %}
                    <a class="enlace" href="cargaServicio.html">Agregar un servicio...</a>
                {% else %}
                    <a class="enlace" href="login.html">Inicia sesión para agregar un servicio: Iniciar sesion.</a>
                {% endif %}
            </div>
        </div>
    </body>
</html>