<html>
    <head>
        <title>Catalogo</title>
        <link rel="stylesheet" type="text/css" href="../static/catalogo.css">
        <link rel="stylesheet" type="text/css" href="../static/global.css">
    </head>

    <!--Barra de navegacion-->
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="catalogo.html">Servicios</a></li>
                <li><a href="ruta de tiendas">Tiendas</a></li>
                <li><a href="login.html">Iniciar sesion</a></li>
            </ul>
        </nav>
    </header>

    <body>
        <div class="container">
            <h1 class = "FadeLeft">SERVICIOS</h1>
            <div class="lista-servicios">
                {% for servicio in servicios %}
                    <div class="servicio FadeUp">
                        <div class="servicio-titulo">
                            <div>
                                <h2>{{ servicio['titulo'] }}</h2>
                                <p>{{ servicio['descripcion'] }}</p>
                                <p><b>Autor:</b> {{ servicio['autor'] }}</p>
                                <p><b>Precio:</b> {{ servicio['precio'] }} Bs</p>
                                <p><b>Duración:</b> {{ servicio['duracion'] }}</p>
                                <p><b>A domicilio:</b> {{ servicio['a_domicilio'] }}</p>
                            </div>
                            <img src="https://i.pinimg.com/originals/a2/3c/3f/a23c3f5c2a7539635248d5c68411ff02.jpg" alt="Servicio 1">
                        </div>
                    </div>
                {% endfor %}
                {% if usuario %}
                    <a href="cargaServicio.html">Agregar un servicio...</a>
                {% else %}
                    <a href="login.html">Inicia sesión para agregar un servicio: Iniciar sesion.</a>
                {% endif %}
            </div>
        </div>
    </body>
</html>