<!-- Pagina de inicion con barra de herramientas superior-->
<!DOCTYPE html>
<html>
    <head>
        <title>NAME_HEREEEE</title>
        <link rel ="icon" href = "../static/images/KCC_Ball_Kirby_Artwork.ico" type = "image/x-icon">

        <link rel="stylesheet" type="text/css" href="../static/main_page.css">
        <link rel="stylesheet" type="text/css" href="../static/global.css">
    </head>

    <!--Barra de navegacion--> 
    <header>
        <nav class="navbar">
            <ul>
                <li><a style = "color: #69B5B0;"  href="index.html">Inicio</a></li>
                <li><a href="catalogo.html">Servicios</a></li>
                <li><a href="ruta de tiendas">Tiendas</a></li>
                {% if usuario %}
                <li><a href="#">{{ usuario }}</a></li>
            {% else %}
                <li><a href="login.html">Iniciar sesión</a></li>
            {% endif %}
            </ul>
        </nav>
    </header>
    
    <body>
        
        <center>
            <h1>Te Damos la Bienvenida a NAME_HERE</h1>
        </center>
        <img id = "intro_image" src="../static/images/main_page_holder.jpeg" alt="aqui va una imagen gente">
            
        <h2>El lugar donde encontrar cualquier servicio local!</h2>
        <p><b>NAME_HERE</b> es el sitio ideal para dar a conocer tus servicios para la comunidad
        local, desde limpiezas de hogares, cualquier tipo de mantenimiento, asesoramiento en proyectos, tratamientos
        y consultas todo eso y muchos mas servicios puedes encontrarlos aqui. <br></p>

        <p>Si buscas un servicio en especifico busca en la barra de servicios o tiendas para 
        indagar en lo que necesites<br></p>

        <p>Si estas interesado en formar parte de nuestra lista de tiendas puedes aplicar 
        completamente <i>GRATIS</i> luego de crear tu cuenta e iniciar sesion.</p>
        
        

        <!-- DESDE AQUI ES BORRABLE-->
        <p>texto de debug:</p>
        <p>Estas loggeado como: {{usuario}}</p>
        <p>Esta es una página de inicio de ejemplo.</p>
        <p>Utiliza la barra de herramientas superior para navegar.</p>
        <!-- HASTA AQUI ES BORRABLE-->

        <footer>
            <p>&copy; 2025 MVP's. All rights reserved.</p>
        </footer>
    </body>
        
</html>