<!-- Pagina de inicion con barra de herramientas superior-->>
<!DOCTYPE html>
<html>
    <head>
        <title>NAME_HEREEEE</title>
    </head>

    <body>
        <h1>Bienvenid@ a ingresa nombre aqui porfa</h1>
        <h2> aaaAAaa </h2>
        <p>buuuuueeeenas</p>
        <b>¡NEGROOOO!</b>
        <i>¡italianini!</i>

        <p>Esta es una página de inicio de ejemplo.</p>
        <p>Utiliza la barra de herramientas superior para navegar.</p>
        <nav>
            <ul>
                <li><a href="coloca aqui la ruta de servicios">Servicios</a></li>
                <li><a href="ruta de tiendas">Tiendas</a></li>
                <li><a href="ruta de login">Iniciar sesion</a></li>
            </ul>
        </nav>
        
        <footer>
            <p>&copy; 2025 MVP's. All rights reserved.</p>
        </footer>
    </body>
        
</html>