<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/registro-login.css">
    <link rel="stylesheet" href="../static/global.css">
</head>
<body>
    <div class="registro">
        <h1 class = "FadeDown">INICIAR SESION</h1>
    <form class="FadeIn" action="/login.html" id="formulario" method="post">
        
        <input type="email" name="correo" id="correo" placeholder="correo electronico" required> <br>
        <input type="password" name="contraseña" id="contraseña" placeholder="contraseña" required> <br>

        <button class="login" type="submit" id="login">Iniciar sesion</button>
    </form>
    <br>
    <a href="registro.html">No tienes una cuenta?</a>
    </div>
    
</body>
</html>