<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/registro-login.css">
</head>
<body>
    <div class="registro">
        <h1>INICIAR SESION</h1>
    <div class="formulario">
        
        <input type="email" id="correo" placeholder="correo electronico" required> <br>
        <input type="password" id="contraseña" placeholder="contraseña" required> <br>

        <input class="login"  type="button" id="login" value="Iniciar Sesion" required>
    </div>
    <br>
    <a href="registro.html">No tienes una cuenta?</a>
    </div>
    
</body>
</html>