<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel= "stylesheet" href="../static/registro-login.css">
</head>
<body>
    <div class="registro">
        <h1>REGISTRO</h1>
    <div class="formulario">
        
        <input type="text" id="nombreusuario" placeholder="Nombre y Apellido" required> <br>
        <input type="email" id="correo" placeholder="correo electronico" required> <br>
        <input type="password" id="contraseña" placeholder="contraseña" required> <br>
        <input class="boton" type="date" id="edad" placeholder="Edad" required> <br>


        <select class="genero" id="genero" name ="genero" required>

            <option value="Seleccion">Genero</option>
            <option value="hombre">Hombre</option>
            <option value="mujer">Mujer</option>
        </select> <br>

        <input class="register"  type="button" id="registro" value="Registro" required>
    </div>
    <br>
    <a href="login.html">Ya tienes una cuenta?</a>
    </div>
</body>
</html>