<!DOCTYPE html>
<html>
    <head>
        <title>NAME_HERE</title>
        <link rel ="icon" href = "../static/images/Page_icon.ico" type = "image/x-icon">
        <link rel="stylesheet" type="text/css" href="../static/global.css">
    </head>

    <!--Barra de navegacion--> 
     <!--Barra de navegacion--> 
    <header>
        <nav class="navbar">
            <ul>
                <li style="align-items: flex-end;"><input id="hide_sidebar" type="image" src="../static/images/X_icon.png"
                     onclick="document.querySelector('.navbar').classList.remove('show')"></li>
                    
                <li><a href="index.html">Inicio</a></li>
                <li><a href="catalogo.html">Servicios</a></li>
                <li><a href="ruta de tiendas">Tiendas</a></li>
                {% if usuario %}
                <li><a style = "color: #69B5B0;" href="user_page.html">{{ usuario }}</a></li>
            {% else %}
                <li><a href="login.html">Iniciar sesión</a></li>
            {% endif %}
            </ul>
        </nav>
        <input id="show_sidebar" type="image" src="../static/images/Hamburger_icon.svg.png"
                     onclick="document.querySelector('.navbar').classList.add('show')">
    </header>

    <body>
        <h1> Usuario</h1>
        
    </body>

</html>